
.main {
  display: flex;
  flex-direction: column;
  line-height: 32px;
  font-family: 'Space Mono', Arial, serif;
  text-align: justify;
}

.first-section {
  width: 100%;
  height: 100vh;
  opacity: 0.9;
  background-color: #FF9000;
  z-index: 100;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  row-gap: 15px;
}

.first-section img {
  border-radius: 50%;
  height: 170px;
  width: 170px;
}

.name {
  font-family: 'Kaushan Script', cursive;
  font-size: 34px;
}
.role {
  font-weight: 700;
  font-size: 16px;
}

.second-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px;
  row-gap: 40px;
  margin: 50px;
}

.about-me, .skills-section {
  font-size: 16px;
  opacity: 0.7;
  width: 80%;
  text-align: justify;
}

.personal-info {
  display: flex;
  font-size: 16px;
  column-gap: 40px;
}

.details{
  display: flex;
  column-gap: 30px;
  margin: 30px;
  /* flex-wrap: wrap; */
}
/* 
.social-network{
  display: flex;
  justify-content:  space-around;
  margin: 30px;
  
} */

.heading {
  font-size: 40px;
}

.third-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.timeline {
  margin: 0px 50px 50px 50px;
  position: relative;
  /* max-width: 1200px; */
  width: 40%;
}
.timeline::after {
  content: '';
  position: absolute;
  width: 3px;
  background-color:#FF9000;
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -3px;
}
.container {
  border: 1px solid #FF9000 ;
  border-radius: 10px;
  position: relative;
  /* width: 50%; */
}

.left {
  margin: 60px 20px;
  left: -50%;
  padding: 20px;
}

.right {
  margin: 60px 20px;
  left: 50%;
  padding: 20px;

}

.container::after {
  content: '';
  position: absolute;
  width: 17px;
  height: 17px;
  right: -14px; 
  background-color: white;
  border: 4px solid #FF9000;
  top: 50%; 
  border-radius: 50%;
  z-index: 1;
}

.right::after {
  left: -14px
}

.content {
  font-weight: 400;
  font-size: 16px;
}

.fourth-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 50px;
  row-gap: 100px;
  padding: 50px;
}

.skills {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  row-gap: 60px;
  column-gap: 60px;
}

.fifth-section {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  background-color: #FF9000;
  width: 100%;
  min-height: 90vh;
  color: white;
}

.projects {
  display: grid;
  grid-template-columns: 45% 45%;
  justify-content: center;
  column-gap: 50px;
  row-gap: 50px;
}

.projects .item {
  border: 1px solid white;
  border-radius: 5px;
}

.home-background {
  position: absolute;
  height: 100vh;
  width: 100%;
}

.bold {
  font-weight: "700";
}

.work {
  margin: 70px 0px 0px 0px;
  text-align: center;
  font-size: 18px;
  border: 1px dashed #FF9000;
  padding:  10px;
  border-radius: 10px;
}
.project-name {
  font-size: 20px;
  margin-bottom: 20px;
  background-color: white;
  color: #FF9000;
  padding: 10px;
}
@media screen and (max-width: 900px) {
  .details{
    display: flex;
    column-gap: 30px;
    margin: 30px;
    flex-wrap: wrap;
  }
  .about-me {
    font-size: 16px;
    opacity: 0.7;
    width: 100%;
    text-align: justify;
  }
  .third-section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin: 50px;
  }
  .left {
    margin: 60px 20px;
    left: 5%;
    padding: 20px;
  }
  .right {
    margin: 60px 20px;
    left: 5%;
    padding: 20px;
  }
  .left::after {
    left: -14px
  }
  .timeline {
    margin: 0px 50px 50px 50px;
    position: relative;
    width: 80%;
  }
  
  .timeline::after {
    left: 31px;
  }

  .projects {
    display: grid;
    grid-template-columns: 90%;
    row-gap: 50px;
    margin-bottom: 20px;
  }

  .projects .item {
    border: 1px solid white;
    border-radius: 5px;
    padding: 20px;   
    flex-basis: 100%;
  }

}
